.posts{
    border: 1px solid orange;
    padding: 50px 0;
}

.posts>button{
    border:none;
    text-transform: uppercase;
    padding: 10px 50px;
    cursor: pointer;
    border:1px solid orange;
    border-radius: 4px;
}

.post>h5{
    border-bottom:1px solid red;
    padding-bottom: 50px;
}