.calculadora {
    display: flex;
    gap: 30px;
}

.calculadora__one {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.calculadora__one>input,
.calculadora>button {
    width: 100%;
    max-width: 300px;
    height: 30px;
    border-radius: 4px;
    cursor: pointer;
}

.calculadora>button {
    margin-top: 20px;
}

.calculadora__box>ul {
    width: 100%;
    height: auto;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.calculadora__box>ul>li {
    list-style: none;
    display: flex;
    text-align: start;
}

.calculadora__box>ul>li:nth-child(even) {
    justify-content: flex-end;
}

.calculadora__box>ul>li:nth-child(even):last-child {
    align-items: flex-end;
}

.calculadora__box>ul>li:nth-child(2):last-child {
    align-items: flex-end;
}